<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.931772906663-2smom45tkijem4ma3f34j5o88ip40cgu</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>931772906663-2smom45tkijem4ma3f34j5o88ip40cgu.apps.googleusercontent.com</string>
</dict>
</plist>
